In [33]:
# Imports


import sys
import os
import numpy as np
import pandas as pd

sys.path.append('../')
from src_experiment import get_path_to_moon_experiment_storage
from geobin import EstimateQuantities1Run

In [34]:
# Task: Estimate [QUANTITIES] given a [MODEL], [DATASET] and [NOISE LEVEL]

# Testing parameters
model_name = "small_uniform"
dataset_name = "small"
noise_level = 0.0
run_number = 1

In [35]:
# Get path to experiment
path_to_experiment_storage = get_path_to_moon_experiment_storage(model_name=model_name, dataset_name=dataset_name, noise_level=noise_level, run_number=run_number)
path_to_experiment_storage

PosixPath('/home/johan/Documents/phd/WP1/geometric_binning_estimator/stored_data/variable_noise_moons_experiment/model_small_uniform/dataset_small/noise_0.0/run_1')

In [36]:
# Load number counts

try:
    import cpickle as pickle
except ModuleNotFoundError:
    import pickle
def open_object(filename):
    with open(filename, 'rb') as inp:
        obj = pickle.load(inp)
    return obj

ncounts = open_object(path_to_experiment_storage/"number_counts_per_epoch.pkl")
ncounts

{0:       layer_idx  region_idx     0     1  total
 202           1           1  63.0   4.0   67.0
 378           2          57  63.0   4.0   67.0
 397           3         441  28.0   0.0   28.0
 398           4         441  28.0   0.0   28.0
 400           3         505  35.0   4.0   39.0
 401           4         505  35.0   4.0   39.0
 805           1           4   2.0  18.0   20.0
 981           2          60   2.0  18.0   20.0
 1003          3         508   2.0  18.0   20.0
 1005          4        1020   2.0  18.0   20.0
 1006          1           5  16.0  21.0   37.0
 1182          2          61  16.0  21.0   37.0
 1204          3         509  16.0  21.0   37.0
 1205          4         509   7.0  10.0   17.0
 1206          4        1021   9.0  11.0   20.0
 1207          1           6  19.0  57.0   76.0
 1358          2          54   0.0  22.0   22.0
 1368          3         246   0.0  22.0   22.0
 1370          4         758   0.0  22.0   22.0
 1383          2          62  19.0  35.0   54.0
 1393          3         254   0.0  14.0   14.0
 1395          4         766   0.0  14.0   14.0
 1405          3         510  19.0  21.0   40.0
 1407          4        1022  19.0  21.0   40.0,
 10:       layer_idx  region_idx     0     1  total
 202           1           1  62.0   4.0   66.0
 378           2          57  62.0   4.0   66.0
 397           3         441  35.0   0.0   35.0
 398           4         441  35.0   0.0   35.0
 400           3         505  27.0   4.0   31.0
 401           4         505  27.0   4.0   31.0
 805           1           4   1.0  17.0   18.0
 981           2          60   1.0  17.0   18.0
 1003          3         508   1.0  17.0   18.0
 1005          4        1020   1.0  17.0   18.0
 1006          1           5  18.0  22.0   40.0
 1182          2          61  18.0  22.0   40.0
 1204          3         509  18.0  22.0   40.0
 1205          4         509   8.0  10.0   18.0
 1206          4        1021  10.0  12.0   22.0
 1207          1           6  19.0  57.0   76.0
 1358          2          54   0.0  33.0   33.0
 1368          3         246   0.0  33.0   33.0
 1370          4         758   0.0  33.0   33.0
 1383          2          62  19.0  24.0   43.0
 1393          3         254   0.0   5.0    5.0
 1395          4         766   0.0   5.0    5.0
 1405          3         510  19.0  19.0   38.0
 1407          4        1022  19.0  19.0   38.0,
 20:       layer_idx  region_idx     0     1  total
 202           1           1  62.0   4.0   66.0
 378           2          57  62.0   4.0   66.0
 397           3         441  38.0   0.0   38.0
 398           4         441  38.0   0.0   38.0
 400           3         505  24.0   4.0   28.0
 401           4         505  24.0   4.0   28.0
 805           1           4   0.0  16.0   16.0
 981           2          60   0.0  16.0   16.0
 1003          3         508   0.0  16.0   16.0
 1005          4        1020   0.0  16.0   16.0
 1006          1           5  18.0  22.0   40.0
 1182          2          61  18.0  22.0   40.0
 1204          3         509  18.0  22.0   40.0
 1205          4         509   9.0  11.0   20.0
 1206          4        1021   9.0  11.0   20.0
 1207          1           6  19.0  58.0   77.0
 1358          2          54   0.0  37.0   37.0
 1368          3         246   0.0  37.0   37.0
 1370          4         758   0.0  37.0   37.0
 1383          2          62  19.0  21.0   40.0
 1393          3         254   0.0   3.0    3.0
 1395          4         766   0.0   3.0    3.0
 1405          3         510  19.0  18.0   37.0
 1407          4        1022  19.0  18.0   37.0
 1408          1           7   1.0   0.0    1.0
 1584          2          63   1.0   0.0    1.0
 1606          3         511   1.0   0.0    1.0
 1608          4        1023   1.0   0.0    1.0,
 30:       layer_idx  region_idx     0     1  total
 202           1           1  62.0   3.0   65.0
 378           2          57  62.0   3.0   65.0
 397           3         441  41.0   0.0   41.0
 398           4         441  41.0   0.0   41.0
 400           3         505  21.0   3.0   24.0
 401           4         505  21.0   3.0   24.0
 805           1           4   0.0  16.0   16.0
 981           2          60   0.0  16.0   16.0
 1003          3         508   0.0  16.0   16.0
 1005          4        1020   0.0  16.0   16.0
 1006          1           5  17.0  23.0   40.0
 1182          2          61  17.0  23.0   40.0
 1204          3         509  17.0  23.0   40.0
 1205          4         509  10.0  12.0   22.0
 1206          4        1021   7.0  11.0   18.0
 1207          1           6  18.0  58.0   76.0
 1358          2          54   0.0  39.0   39.0
 1368          3         246   0.0  38.0   38.0
 1370          4         758   0.0  38.0   38.0
 1380          3         502   0.0   1.0    1.0
 1382          4        1014   0.0   1.0    1.0
 1383          2          62  18.0  19.0   37.0
 1393          3         254   0.0   2.0    2.0
 1395          4         766   0.0   2.0    2.0
 1405          3         510  18.0  17.0   35.0
 1407          4        1022  18.0  17.0   35.0
 1408          1           7   3.0   0.0    3.0
 1584          2          63   3.0   0.0    3.0
 1606          3         511   3.0   0.0    3.0
 1608          4        1023   3.0   0.0    3.0,
 40:       layer_idx  region_idx     0     1  total
 202           1           1  62.0   3.0   65.0
 378           2          57  62.0   3.0   65.0
 397           3         441  44.0   0.0   44.0
 398           4         441  44.0   0.0   44.0
 400           3         505  18.0   3.0   21.0
 401           4         505  18.0   3.0   21.0
 805           1           4   0.0  14.0   14.0
 981           2          60   0.0  14.0   14.0
 1003          3         508   0.0  14.0   14.0
 1005          4        1020   0.0  14.0   14.0
 1006          1           5  16.0  24.0   40.0
 1182          2          61  16.0  24.0   40.0
 1204          3         509  16.0  24.0   40.0
 1205          4         509  10.0  13.0   23.0
 1206          4        1021   6.0  11.0   17.0
 1207          1           6  17.0  59.0   76.0
 1358          2          54   0.0  39.0   39.0
 1368          3         246   0.0  39.0   39.0
 1370          4         758   0.0  39.0   39.0
 1383          2          62  17.0  20.0   37.0
 1393          3         254   0.0   2.0    2.0
 1395          4         766   0.0   2.0    2.0
 1405          3         510  17.0  18.0   35.0
 1407          4        1022  17.0  18.0   35.0
 1408          1           7   5.0   0.0    5.0
 1584          2          63   5.0   0.0    5.0
 1606          3         511   5.0   0.0    5.0
 1608          4        1023   5.0   0.0    5.0,
 50:       layer_idx  region_idx     0     1  total
 202           1           1  62.0   3.0   65.0
 378           2          57  62.0   3.0   65.0
 391           3         313  36.0   0.0   36.0
 392           4         313  36.0   0.0   36.0
 397           3         441   9.0   0.0    9.0
 398           4         441   9.0   0.0    9.0
 400           3         505  17.0   3.0   20.0
 401           4         505  17.0   3.0   20.0
 805           1           4   0.0  14.0   14.0
 981           2          60   0.0  14.0   14.0
 1003          3         508   0.0  14.0   14.0
 1005          4        1020   0.0  14.0   14.0
 1006          1           5  15.0  24.0   39.0
 1182          2          61  15.0  24.0   39.0
 1204          3         509  15.0  24.0   39.0
 1205          4         509  11.0  12.0   23.0
 1206          4        1021   4.0  12.0   16.0
 1207          1           6  16.0  59.0   75.0
 1358          2          54   0.0  41.0   41.0
 1368          3         246   0.0  40.0   40.0
 1370          4         758   0.0  40.0   40.0
 1380          3         502   0.0   1.0    1.0
 1382          4        1014   0.0   1.0    1.0
 1383          2          62  16.0  18.0   34.0
 1393          3         254   0.0   1.0    1.0
 1395          4         766   0.0   1.0    1.0
 1405          3         510  16.0  17.0   33.0
 1407          4        1022  16.0  17.0   33.0
 1408          1           7   7.0   0.0    7.0
 1584          2          63   7.0   0.0    7.0
 1606          3         511   7.0   0.0    7.0
 1608          4        1023   7.0   0.0    7.0,
 60:       layer_idx  region_idx     0     1  total
 202           1           1  63.0   3.0   66.0
 378           2          57  63.0   3.0   66.0
 391           3         313  42.0   0.0   42.0
 392           4         313  42.0   0.0   42.0
 397           3         441   3.0   0.0    3.0
 398           4         441   3.0   0.0    3.0
 400           3         505  18.0   3.0   21.0
 401           4         505  18.0   3.0   21.0
 805           1           4   0.0  13.0   13.0
 981           2          60   0.0  13.0   13.0
 1003          3         508   0.0  13.0   13.0
 1005          4        1020   0.0  13.0   13.0
 1006          1           5  13.0  24.0   37.0
 1182          2          61  13.0  24.0   37.0
 1204          3         509  13.0  24.0   37.0
 1205          4         509  10.0  12.0   22.0
 1206          4        1021   3.0  12.0   15.0
 1207          1           6  15.0  60.0   75.0
 1358          2          54   0.0  41.0   41.0
 1368          3         246   0.0  39.0   39.0
 1370          4         758   0.0  39.0   39.0
 1380          3         502   0.0   2.0    2.0
 1382          4        1014   0.0   2.0    2.0
 1383          2          62  15.0  19.0   34.0
 1393          3         254   0.0   1.0    1.0
 1395          4         766   0.0   1.0    1.0
 1405          3         510  15.0  18.0   33.0
 1407          4        1022  15.0  18.0   33.0
 1408          1           7   9.0   0.0    9.0
 1584          2          63   9.0   0.0    9.0
 1606          3         511   9.0   0.0    9.0
 1608          4        1023   9.0   0.0    9.0,
 70:       layer_idx  region_idx     0     1  total
 202           1           1  63.0   3.0   66.0
 378           2          57  63.0   3.0   66.0
 391           3         313  46.0   0.0   46.0
 392           4         313  46.0   0.0   46.0
 400           3         505  17.0   3.0   20.0
 401           4         505  17.0   3.0   20.0
 805           1           4   0.0  12.0   12.0
 981           2          60   0.0  12.0   12.0
 1003          3         508   0.0  12.0   12.0
 1005          4        1020   0.0  12.0   12.0
 1006          1           5  12.0  24.0   36.0
 1182          2          61  12.0  24.0   36.0
 1204          3         509  12.0  24.0   36.0
 1205          4         509  10.0  12.0   22.0
 1206          4        1021   2.0  12.0   14.0
 1207          1           6  14.0  61.0   75.0
 1358          2          54   0.0  41.0   41.0
 1368          3         246   0.0  38.0   38.0
 1370          4         758   0.0  38.0   38.0
 1380          3         502   0.0   3.0    3.0
 1382          4        1014   0.0   3.0    3.0
 1383          2          62  14.0  20.0   34.0
 1405          3         510  14.0  20.0   34.0
 1407          4        1022  14.0  20.0   34.0
 1408          1           7  11.0   0.0   11.0
 1584          2          63  11.0   0.0   11.0
 1606          3         511  11.0   0.0   11.0
 1608          4        1023  11.0   0.0   11.0,
 80:       layer_idx  region_idx     0     1  total
 202           1           1  63.0   3.0   66.0
 378           2          57  63.0   3.0   66.0
 391           3         313  47.0   0.0   47.0
 392           4         313  47.0   0.0   47.0
 394           3         377   2.0   0.0    2.0
 395           4         377   2.0   0.0    2.0
 400           3         505  14.0   3.0   17.0
 401           4         505  14.0   3.0   17.0
 805           1           4   0.0  12.0   12.0
 981           2          60   0.0  12.0   12.0
 1003          3         508   0.0  12.0   12.0
 1005          4        1020   0.0  12.0   12.0
 1006          1           5  11.0  24.0   35.0
 1182          2          61  11.0  24.0   35.0
 1204          3         509  11.0  24.0   35.0
 1205          4         509  11.0  12.0   23.0
 1206          4        1021   0.0  12.0   12.0
 1207          1           6  13.0  61.0   74.0
 1358          2          54   0.0  39.0   39.0
 1368          3         246   0.0  34.0   34.0
 1370          4         758   0.0  34.0   34.0
 1380          3         502   0.0   5.0    5.0
 1382          4        1014   0.0   5.0    5.0
 1383          2          62  13.0  22.0   35.0
 1405          3         510  13.0  22.0   35.0
 1407          4        1022  13.0  22.0   35.0
 1408          1           7  13.0   0.0   13.0
 1584          2          63  13.0   0.0   13.0
 1606          3         511  13.0   0.0   13.0
 1608          4        1023  13.0   0.0   13.0,
 90:       layer_idx  region_idx     0     1  total
 202           1           1  64.0   3.0   67.0
 378           2          57  64.0   3.0   67.0
 391           3         313  49.0   0.0   49.0
 392           4         313  49.0   0.0   49.0
 394           3         377   2.0   0.0    2.0
 395           4         377   2.0   0.0    2.0
 400           3         505  13.0   3.0   16.0
 401           4         505  13.0   3.0   16.0
 805           1           4   0.0  10.0   10.0
 981           2          60   0.0  10.0   10.0
 1003          3         508   0.0  10.0   10.0
 1005          4        1020   0.0  10.0   10.0
 1006          1           5   9.0  25.0   34.0
 1182          2          61   9.0  25.0   34.0
 1204          3         509   9.0  25.0   34.0
 1205          4         509   9.0  12.0   21.0
 1206          4        1021   0.0  13.0   13.0
 1207          1           6  12.0  62.0   74.0
 1358          2          54   0.0  37.0   37.0
 1368          3         246   0.0  29.0   29.0
 1370          4         758   0.0  29.0   29.0
 1380          3         502   0.0   8.0    8.0
 1382          4        1014   0.0   8.0    8.0
 1383          2          62  12.0  25.0   37.0
 1405          3         510  12.0  25.0   37.0
 1407          4        1022  12.0  25.0   37.0
 1408          1           7  15.0   0.0   15.0
 1584          2          63  15.0   0.0   15.0
 1606          3         511  15.0   0.0   15.0
 1607          4         511   1.0   0.0    1.0
 1608          4        1023  14.0   0.0   14.0,
 100:       layer_idx  region_idx     0     1  total
 202           1           1  64.0   3.0   67.0
 378           2          57  64.0   3.0   67.0
 391           3         313  50.0   0.0   50.0
 392           4         313  50.0   0.0   50.0
 394           3         377   3.0   0.0    3.0
 395           4         377   3.0   0.0    3.0
 400           3         505  11.0   3.0   14.0
 401           4         505  11.0   3.0   14.0
 805           1           4   0.0   9.0    9.0
 981           2          60   0.0   9.0    9.0
 1003          3         508   0.0   9.0    9.0
 1005          4        1020   0.0   9.0    9.0
 1006          1           5   8.0  25.0   33.0
 1182          2          61   8.0  25.0   33.0
 1204          3         509   8.0  25.0   33.0
 1205          4         509   8.0  12.0   20.0
 1206          4        1021   0.0  13.0   13.0
 1207          1           6  11.0  63.0   74.0
 1358          2          54   0.0  36.0   36.0
 1368          3         246   0.0  24.0   24.0
 1370          4         758   0.0  24.0   24.0
 1380          3         502   0.0  12.0   12.0
 1382          4        1014   0.0  12.0   12.0
 1383          2          62  11.0  27.0   38.0
 1405          3         510  11.0  27.0   38.0
 1407          4        1022  11.0  27.0   38.0
 1408          1           7  17.0   0.0   17.0
 1584          2          63  17.0   0.0   17.0
 1606          3         511  17.0   0.0   17.0
 1607          4         511   3.0   0.0    3.0
 1608          4        1023  14.0   0.0   14.0,
 110:       layer_idx  region_idx     0     1  total
 202           1           1  65.0   3.0   68.0
 378           2          57  65.0   3.0   68.0
 391           3         313  51.0   0.0   51.0
 392           4         313  51.0   0.0   51.0
 394           3         377   3.0   0.0    3.0
 395           4         377   3.0   0.0    3.0
 400           3         505  11.0   3.0   14.0
 401           4         505  11.0   3.0   14.0
 805           1           4   0.0   9.0    9.0
 981           2          60   0.0   9.0    9.0
 1003          3         508   0.0   9.0    9.0
 1005          4        1020   0.0   9.0    9.0
 1006          1           5   6.0  25.0   31.0
 1182          2          61   6.0  25.0   31.0
 1204          3         509   6.0  25.0   31.0
 1205          4         509   6.0  12.0   18.0
 1206          4        1021   0.0  13.0   13.0
 1207          1           6  10.0  63.0   73.0
 1358          2          54   0.0  34.0   34.0
 1368          3         246   0.0  18.0   18.0
 1370          4         758   0.0  18.0   18.0
 1380          3         502   0.0  16.0   16.0
 1382          4        1014   0.0  16.0   16.0
 1383          2          62  10.0  29.0   39.0
 1405          3         510  10.0  29.0   39.0
 1407          4        1022  10.0  29.0   39.0
 1408          1           7  19.0   0.0   19.0
 1584          2          63  19.0   0.0   19.0
 1606          3         511  19.0   0.0   19.0
 1607          4         511   5.0   0.0    5.0
 1608          4        1023  14.0   0.0   14.0,
 120:       layer_idx  region_idx     0     1  total
 202           1           1  66.0   3.0   69.0
 378           2          57  66.0   3.0   69.0
 391           3         313  51.0   0.0   51.0
 392           4         313  51.0   0.0   51.0
 394           3         377   4.0   0.0    4.0
 395           4         377   4.0   0.0    4.0
 400           3         505  11.0   3.0   14.0
 401           4         505  11.0   3.0   14.0
 805           1           4   0.0   8.0    8.0
 981           2          60   0.0   8.0    8.0
 1003          3         508   0.0   8.0    8.0
 1005          4        1020   0.0   8.0    8.0
 1006          1           5   4.0  25.0   29.0
 1182          2          61   4.0  25.0   29.0
 1204          3         509   4.0  25.0   29.0
 1205          4         509   4.0  13.0   17.0
 1206          4        1021   0.0  12.0   12.0
 1207          1           6   9.0  64.0   73.0
 1358          2          54   0.0  32.0   32.0
 1368          3         246   0.0  10.0   10.0
 1370          4         758   0.0  10.0   10.0
 1380          3         502   0.0  22.0   22.0
 1382          4        1014   0.0  22.0   22.0
 1383          2          62   9.0  32.0   41.0
 1405          3         510   9.0  32.0   41.0
 1407          4        1022   9.0  32.0   41.0
 1408          1           7  21.0   0.0   21.0
 1584          2          63  21.0   0.0   21.0
 1606          3         511  21.0   0.0   21.0
 1607          4         511   7.0   0.0    7.0
 1608          4        1023  14.0   0.0   14.0,
 130:       layer_idx  region_idx     0     1  total
 202           1           1  66.0   3.0   69.0
 378           2          57  66.0   3.0   69.0
 391           3         313  52.0   0.0   52.0
 392           4         313  52.0   0.0   52.0
 394           3         377   4.0   0.0    4.0
 395           4         377   4.0   0.0    4.0
 400           3         505  10.0   3.0   13.0
 401           4         505  10.0   3.0   13.0
 805           1           4   0.0   8.0    8.0
 981           2          60   0.0   8.0    8.0
 1003          3         508   0.0   8.0    8.0
 1005          4        1020   0.0   8.0    8.0
 1006          1           5   3.0  25.0   28.0
 1182          2          61   3.0  25.0   28.0
 1204          3         509   3.0  25.0   28.0
 1205          4         509   3.0  13.0   16.0
 1206          4        1021   0.0  12.0   12.0
 1207          1           6   8.0  64.0   72.0
 1358          2          54   0.0  30.0   30.0
 1380          3         502   0.0  30.0   30.0
 1382          4        1014   0.0  30.0   30.0

In [37]:
# ncounts is a dictionary of epcohs:
ncounts.keys()

dict_keys([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 249])

In [38]:
epochs = np.array(list(ncounts.keys()))

In [39]:
test_frame_epochs = pd.DataFrame(epochs, columns=["Epochs"])
test_frame_epochs

    Epochs
0        0
1       10
2       20
3       30
4       40
5       50
6       60
7       70
8       80
9       90
10     100
11     110
12     120
13     130
14     140
15     150
16     160
17     170
18     180
19     190
20     200
21     210
22     220
23     230
24     240
25     249

In [40]:
test_frame_epochs2 = pd.DataFrame()
test_frame_epochs2["Epochs"] = epochs
test_frame_epochs2

    Epochs
0        0
1       10
2       20
3       30
4       40
5       50
6       60
7       70
8       80
9       90
10     100
11     110
12     120
13     130
14     140
15     150
16     160
17     170
18     180
19     190
20     200
21     210
22     220
23     230
24     240
25     249

In [41]:
# Look at epoch0
epoch0_ncounts = ncounts[0]
epoch0_ncounts

      layer_idx  region_idx     0     1  total
202           1           1  63.0   4.0   67.0
378           2          57  63.0   4.0   67.0
397           3         441  28.0   0.0   28.0
398           4         441  28.0   0.0   28.0
400           3         505  35.0   4.0   39.0
401           4         505  35.0   4.0   39.0
805           1           4   2.0  18.0   20.0
981           2          60   2.0  18.0   20.0
1003          3         508   2.0  18.0   20.0
1005          4        1020   2.0  18.0   20.0
1006          1           5  16.0  21.0   37.0
1182          2          61  16.0  21.0   37.0
1204          3         509  16.0  21.0   37.0
1205          4         509   7.0  10.0   17.0
1206          4        1021   9.0  11.0   20.0
1207          1           6  19.0  57.0   76.0
1358          2          54   0.0  22.0   22.0
1368          3         246   0.0  22.0   22.0
1370          4         758   0.0  22.0   22.0
1383          2          62  19.0  35.0   54.0
1393          3         254   0.0  14.0   14.0
1395          4         766   0.0  14.0   14.0
1405          3         510  19.0  21.0   40.0
1407          4        1022  19.0  21.0   40.0

In [42]:
# Number counts per layer:
e0l1  = epoch0_ncounts[epoch0_ncounts["layer_idx"] == 1]
e0l1

      layer_idx  region_idx     0     1  total
202           1           1  63.0   4.0   67.0
805           1           4   2.0  18.0   20.0
1006          1           5  16.0  21.0   37.0
1207          1           6  19.0  57.0   76.0

In [43]:
e0l2 = epoch0_ncounts[epoch0_ncounts["layer_idx"] == 2]
e0l2

      layer_idx  region_idx     0     1  total
378           2          57  63.0   4.0   67.0
981           2          60   2.0  18.0   20.0
1182          2          61  16.0  21.0   37.0
1358          2          54   0.0  22.0   22.0
1383          2          62  19.0  35.0   54.0

In [44]:
e0l3 = epoch0_ncounts[epoch0_ncounts["layer_idx"] == 3]
e0l3

      layer_idx  region_idx     0     1  total
397           3         441  28.0   0.0   28.0
400           3         505  35.0   4.0   39.0
1003          3         508   2.0  18.0   20.0
1204          3         509  16.0  21.0   37.0
1368          3         246   0.0  22.0   22.0
1393          3         254   0.0  14.0   14.0
1405          3         510  19.0  21.0   40.0

In [45]:
e0l4 = epoch0_ncounts[epoch0_ncounts["layer_idx"] == 4]
e0l4

      layer_idx  region_idx     0     1  total
398           4         441  28.0   0.0   28.0
401           4         505  35.0   4.0   39.0
1005          4        1020   2.0  18.0   20.0
1205          4         509   7.0  10.0   17.0
1206          4        1021   9.0  11.0   20.0
1370          4         758   0.0  22.0   22.0
1395          4         766   0.0  14.0   14.0
1407          4        1022  19.0  21.0   40.0

In [46]:
# SANITY CHECK: The total number of counts for each layer should be the same. 

for layer_counts in [e0l1, e0l2, e0l3, e0l4]:
    total_counts = layer_counts["total"].sum()
    print(f"Total counts for layer {layer_counts['layer_idx'].iloc[0]}: {total_counts}")

Total counts for layer 1: 200.0
Total counts for layer 2: 200.0
Total counts for layer 3: 200.0
Total counts for layer 4: 200.0

In [47]:
# For each epoch, compute the layer-wise quantites and store them in a dictionary. 

# First, make sure the counts are sorted appropriately. 


epoch0_ncounts

      layer_idx  region_idx     0     1  total
202           1           1  63.0   4.0   67.0
378           2          57  63.0   4.0   67.0
397           3         441  28.0   0.0   28.0
398           4         441  28.0   0.0   28.0
400           3         505  35.0   4.0   39.0
401           4         505  35.0   4.0   39.0
805           1           4   2.0  18.0   20.0
981           2          60   2.0  18.0   20.0
1003          3         508   2.0  18.0   20.0
1005          4        1020   2.0  18.0   20.0
1006          1           5  16.0  21.0   37.0
1182          2          61  16.0  21.0   37.0
1204          3         509  16.0  21.0   37.0
1205          4         509   7.0  10.0   17.0
1206          4        1021   9.0  11.0   20.0
1207          1           6  19.0  57.0   76.0
1358          2          54   0.0  22.0   22.0
1368          3         246   0.0  22.0   22.0
1370          4         758   0.0  22.0   22.0
1383          2          62  19.0  35.0   54.0
1393          3         254   0.0  14.0   14.0
1395          4         766   0.0  14.0   14.0
1405          3         510  19.0  21.0   40.0
1407          4        1022  19.0  21.0   40.0

In [48]:
# Make sure the two first columns are layer_idx and region_idx

epoch0_ncounts = epoch0_ncounts.sort_values(by=["layer_idx", "region_idx"]).reset_index(drop=True)
epoch0_ncounts

    layer_idx  region_idx     0     1  total
0           1           1  63.0   4.0   67.0
1           1           4   2.0  18.0   20.0
2           1           5  16.0  21.0   37.0
3           1           6  19.0  57.0   76.0
4           2          54   0.0  22.0   22.0
5           2          57  63.0   4.0   67.0
6           2          60   2.0  18.0   20.0
7           2          61  16.0  21.0   37.0
8           2          62  19.0  35.0   54.0
9           3         246   0.0  22.0   22.0
10          3         254   0.0  14.0   14.0
11          3         441  28.0   0.0   28.0
12          3         505  35.0   4.0   39.0
13          3         508   2.0  18.0   20.0
14          3         509  16.0  21.0   37.0
15          3         510  19.0  21.0   40.0
16          4         441  28.0   0.0   28.0
17          4         505  35.0   4.0   39.0
18          4         509   7.0  10.0   17.0
19          4         758   0.0  22.0   22.0
20          4         766   0.0  14.0   14.0
21          4        1020   2.0  18.0   20.0
22          4        1021   9.0  11.0   20.0
23          4        1022  19.0  21.0   40.0

In [49]:
def check_number_counts_consistency(ncounts):
    # Check if last column is "total" and check if the sum of total counts is the same for each layer.
    assert ncounts.columns[ -1 ] == "total", "Last column should be 'total'"

    # Find the class columns as the third to the second last columns
    class_columns = ncounts.columns[ 2 : -1 ]
    class_columns_list = class_columns.tolist()

    # Check that the horisontal sum of classes equals the total counts for each row
    # Find sum of all classes in one single row (region)
    row_sums = ncounts[class_columns_list].sum(axis=1)
    totals = ncounts["total"]
    # Check if all row sums equal total counts
    assert all(row_sums == totals), "Row sums of class counts should equal total counts"

    # Find number of unique layers
    num_layers = ncounts["layer_idx"].nunique()
    # Get total counts per layer
    total_counts_per_layer = ncounts.groupby("layer_idx")["total"].sum().values
    # Check if all total counts are the same
    assert all(total_counts_per_layer == total_counts_per_layer[0]), "Total counts should be the same for each layer"
    
    return ncounts, num_layers, class_columns_list
    
ncounts0, num_layers, classes = check_number_counts_consistency(epoch0_ncounts)

In [50]:
ncounts0

    layer_idx  region_idx     0     1  total
0           1           1  63.0   4.0   67.0
1           1           4   2.0  18.0   20.0
2           1           5  16.0  21.0   37.0
3           1           6  19.0  57.0   76.0
4           2          54   0.0  22.0   22.0
5           2          57  63.0   4.0   67.0
6           2          60   2.0  18.0   20.0
7           2          61  16.0  21.0   37.0
8           2          62  19.0  35.0   54.0
9           3         246   0.0  22.0   22.0
10          3         254   0.0  14.0   14.0
11          3         441  28.0   0.0   28.0
12          3         505  35.0   4.0   39.0
13          3         508   2.0  18.0   20.0
14          3         509  16.0  21.0   37.0
15          3         510  19.0  21.0   40.0
16          4         441  28.0   0.0   28.0
17          4         505  35.0   4.0   39.0
18          4         509   7.0  10.0   17.0
19          4         758   0.0  22.0   22.0
20          4         766   0.0  14.0   14.0
21          4        1020   2.0  18.0   20.0
22          4        1021   9.0  11.0   20.0
23          4        1022  19.0  21.0   40.0

In [51]:
# Find the data per class and check that they match for all layers. 

# This should go in the consistency check
for layer in range(1, num_layers+1):
    layer_counts = ncounts0[ncounts0.layer_idx == layer]
    data_per_class = {classi: [np.sum(layer_counts[classi])] for classi in classes}

In [52]:
layer_counts = ncounts0.loc[ncounts0["layer_idx"] == 1, classes]

n_k = layer_counts.sum(axis=0).to_numpy()[None, :]
n_k

array([[100., 100.]])

In [53]:
data_per_class

{'0': [np.float64(100.0)], '1': [np.float64(100.0)]}

In [54]:
np.array(pd.DataFrame.from_dict(data_per_class)[classes])

array([[100., 100.]])

In [55]:
np.array(ncounts0[classes])[:,0]

array([63.,  2., 16., 19.,  0., 63.,  2., 16., 19.,  0.,  0., 28., 35.,
        2., 16., 19., 28., 35.,  7.,  0.,  0.,  2.,  9., 19.])

In [56]:


ncounts0["KL"] = 0.0
ncounts0["KL2"] = 0.0
# Find n_w - total points per region
n_w = np.array(ncounts0["total"])

# Find n_kw - total points per region per class
n_kw = np.array(ncounts0[classes])

# Find n_k - total points per class
# n_k = np.array(pd.DataFrame.from_dict(data_per_class)[classes])

N = n_k.sum()

# Normalise to make prob mass
m_w = np.expand_dims(n_w / N, axis=1) 
m_kw = n_kw / N
m_k = n_k / N



for cl in classes:
    n_kw = np.array(ncounts0[cl])
    n_k = np.array(data_per_class[cl])
    
    # Two-step logarithm to avoid 0 in log
    logterm = N * n_kw / (n_k*n_w)
    logterm = np.log(logterm, where=logterm > 0)
    

    ncounts0["KL"] += n_kw / N * logterm
    
ncounts0

    layer_idx  region_idx     0     1  total        KL  KL2
0           1           1  63.0   4.0   67.0  0.156446  0.0
1           1           4   2.0  18.0   20.0  0.036806  0.0
2           1           5  16.0  21.0   37.0  0.001694  0.0
3           1           6  19.0  57.0   76.0  0.049709  0.0
4           2          54   0.0  22.0   22.0  0.076246  0.0
5           2          57  63.0   4.0   67.0  0.156446  0.0
6           2          60   2.0  18.0   20.0  0.036806  0.0
7           2          61  16.0  21.0   37.0  0.001694  0.0
8           2          62  19.0  35.0   54.0  0.012032  0.0
9           3         246   0.0  22.0   22.0  0.076246  0.0
10          3         254   0.0  14.0   14.0  0.048520  0.0
11          3         441  28.0   0.0   28.0  0.097041  0.0
12          3         505  35.0   4.0   39.0  0.070681  0.0
13          3         508   2.0  18.0   20.0  0.036806  0.0
14          3         509  16.0  21.0   37.0  0.001694  0.0
15          3         510  19.0  21.0   40.0  0.000250  0.0
16          4         441  28.0   0.0   28.0  0.097041  0.0
17          4         505  35.0   4.0   39.0  0.070681  0.0
18          4         509   7.0  10.0   17.0  0.001330  0.0
19          4         758   0.0  22.0   22.0  0.076246  0.0
20          4         766   0.0  14.0   14.0  0.048520  0.0
21          4        1020   2.0  18.0   20.0  0.036806  0.0
22          4        1021   9.0  11.0   20.0  0.000501  0.0
23          4        1022  19.0  21.0   40.0  0.000250  0.0

In [57]:
print(f"m_w shape: {m_w.shape}")
print(f"m_kw shape: {m_kw.shape}")
print(f"m_k shape: {m_k.shape}")


logterm = m_kw / (m_w @ m_k)
logterm = np.log(logterm, where=logterm > 0)

ncounts0["KL2"] = (m_kw * logterm).sum(axis=1)

m_w shape: (24, 1)
m_kw shape: (24, 2)
m_k shape: (1, 2)

In [58]:
ncounts0

    layer_idx  region_idx     0     1  total        KL       KL2
0           1           1  63.0   4.0   67.0  0.156446  0.156446
1           1           4   2.0  18.0   20.0  0.036806  0.036806
2           1           5  16.0  21.0   37.0  0.001694  0.001694
3           1           6  19.0  57.0   76.0  0.049709  0.049709
4           2          54   0.0  22.0   22.0  0.076246  0.076246
5           2          57  63.0   4.0   67.0  0.156446  0.156446
6           2          60   2.0  18.0   20.0  0.036806  0.036806
7           2          61  16.0  21.0   37.0  0.001694  0.001694
8           2          62  19.0  35.0   54.0  0.012032  0.012032
9           3         246   0.0  22.0   22.0  0.076246  0.076246
10          3         254   0.0  14.0   14.0  0.048520  0.048520
11          3         441  28.0   0.0   28.0  0.097041  0.097041
12          3         505  35.0   4.0   39.0  0.070681  0.070681
13          3         508   2.0  18.0   20.0  0.036806  0.036806
14          3         509  16.0  21.0   37.0  0.001694  0.001694
15          3         510  19.0  21.0   40.0  0.000250  0.000250
16          4         441  28.0   0.0   28.0  0.097041  0.097041
17          4         505  35.0   4.0   39.0  0.070681  0.070681
18          4         509   7.0  10.0   17.0  0.001330  0.001330
19          4         758   0.0  22.0   22.0  0.076246  0.076246
20          4         766   0.0  14.0   14.0  0.048520  0.048520
21          4        1020   2.0  18.0   20.0  0.036806  0.036806
22          4        1021   9.0  11.0   20.0  0.000501  0.000501
23          4        1022  19.0  21.0   40.0  0.000250  0.000250

In [59]:
# Estimate layer-wise MI for epoch0
MI_KL_per_layer = {}
for layer in range(1,num_layers+1):
    MI_KL_per_layer[layer] = sum(ncounts0[ncounts0.layer_idx==layer]["KL"])
    
MI_KL_per_layer

{1: 0.2446549667063707,
 2: 0.28322424287062303,
 3: 0.331238968268509,
 4: 0.3313759226180497}

In [60]:
row = (
    ncounts0.groupby("layer_idx")["KL2"].sum()
    .rename(lambda i: f"l{i}")
    .to_frame()
    .T
)

row.insert(0, "epoch", 0)
row

layer_idx  epoch        l1        l2        l3        l4
KL2            0  0.244655  0.283224  0.331239  0.331376

# Create class to do this for every epoch

In [61]:
# Create test class instance

first_run = EstimateQuantities1Run()

In [64]:
first_run.estimates["MI_KL"]

    epoch        l1        l2        l3        l4
0       0  0.244655  0.283224  0.331239  0.331376
1      10  0.247073  0.313191  0.344907  0.344917
2      20  0.264956  0.341692  0.369938  0.369938
3      30  0.287975  0.367827  0.390335  0.390772
4      40  0.295778  0.370136  0.394253  0.394939
5      50  0.308060  0.384897  0.406658  0.411993
6      60  0.324545  0.395540  0.416467  0.423077
7      70  0.337048  0.402381  0.421130  0.431203
8      80  0.351227  0.407743  0.429152  0.458485
9      90  0.369652  0.417084  0.439728  0.466270
10    100  0.384978  0.426191  0.451071  0.475156
11    110  0.409713  0.444506  0.469613  0.488483
12    120  0.436973  0.465384  0.490715  0.502512
13    130  0.458196  0.481524  0.508112  0.517176
14    140  0.507017  0.523715  0.548107  0.551480
15    150  0.540796  0.553944  0.578336  0.578336
16    160  0.554784  0.564426  0.591014  0.591014
17    170  0.586406  0.590990  0.618727  0.618727
18    180  0.631897  0.631897  0.660920  0.660920
19    190  0.594721  0.594721  0.623513  0.628953
20    200  0.552187  0.552187  0.579232  0.593401
21    210  0.514967  0.514967  0.539143  0.565530
22    220  0.497176  0.497176  0.519951  0.551979
23    230  0.479143  0.479143  0.500596  0.540854
24    240  0.481991  0.481991  0.495693  0.540751
25    249  0.470026  0.470026  0.482911  0.537318